@import url("font/stylesheet.css");

/* Обнуление отступов и полей для всех элементов */
* {
    margin: 0;
    padding: 0;
}

/* Устанавливаем шрифт для всего текста на странице, используя 'Magistral-Bold' */
body {
    font-family: 'Magistral Bold';
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #38334f;
    /* Убираем задний фон */
}

::-webkit-scrollbar-thumb {
    background-color: #aa569f;
    /* Цвет ползунка */
    border-radius: 50px;
    /* Округляем края */
}

::-webkit-scrollbar-track {
    background-color: transparent;
    /* Прозрачный задний фон трека */
}

/*Анимация шарика*/
.page {
    position: relative;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200vmax; /* начальный размер, чтобы полностью покрыть экран */
    height: 200vmax; /* начальный размер, чтобы полностью покрыть экран */
    background-color: #37334e;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s ease-out, height 1s ease-out;
    z-index: 9999; /* чтобы круг был поверх всего остального контента */
}

.page.shrink #circle {
    width: 0;
    height: 0;
}

.page.expand #circle {
    width: 200vmax; /* чтобы круг полностью покрыл экран */
    height: 200vmax; /* чтобы круг полностью покрыл экран */
}
/* Стили для блока заголовка блога */
.header {
    z-index: 99;
    margin-top: -6%;
    padding: 30px 0;
    width: 100%;
    height: 60vh;
    position: relative;
    background-image: url('../../img/Header.png');
    background-size: cover;
    background-position: center;
    background-color: none;
    /* Добавляем цвет фона */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    box-shadow: none;
    /* Убираем тень, если она была */
    border: none;
    /* Убираем границу, если она была */
}

/* Общие стили для ссылок */
a {
    text-decoration: none;
    color: #ffffff;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.reviews-container {
    width: 30%;
    height: auto;
    margin: auto;
    overflow-y: auto;
}

.reviews-content {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review {
    margin-bottom: 20px;
}

.review img {
    width: 100%;
    border-radius: 10px;
}

.close {
    position: fixed !important; /* Добавляем фиксированное позиционирование */
    display: flex; /* Добавляем flex-контейнер */
    justify-content: center; /* Выравниваем содержимое по горизонтали */
    align-items: center; /* Выравниваем содержимое по вертикали */
    padding: 5px; /* Уменьшаем отступы вокруг кругляшки */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 40px;
    color: #aa569f;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.7); /* Добавляем тень */
}

/* Скрыть полосу прокрутки */
.modal::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .close {
        width: 40px;
        height: 40px;
        top: 35px;
        left: 20px;
    }
    .reviews-container {
        width: 90%;
    }
}

/* Стили для заголовка страницы */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 20px;
    flex-wrap: wrap;
    /* Позволяет элементам переходить на новую строку */
    box-shadow: none;
    /* Убираем тень, если она была */
    border: none;
    /* Убираем границу, если она была */
}
/* Стили для заголовка внутри блока header */
header h2 {
    font-size: 2.5vh;
    color: #ffffff;
    margin-right: 20px;
}
li {
    font-size: 10px;
    color: #000000;
}

.catalog-container {
    position: relative; /* Ensure the parent container is relatively positioned */
}

.catalog-menu {
    display: none; /* Hide by default */
    position: absolute; /* Absolutely position relative to parent */
    z-index: 1000;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
    padding: 10px;
    width: 350px;
    left: 0; /* Align to the left of the parent */
    top: 75%; /* Position below the parent */
}

.catalog-menu img {
    width: 6vh;
    height: 6vh;
}

.catalog-menu li {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.catalog-menu li h3 {
    font-size: 16px;
    color: #333;
}

.catalog-menu li h5 {
    font-size: 10px;
    color: #949494;
}

.catalog-menu li img {
    margin-right: 10px;
}

.catalog-menu li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.catalog-h1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    margin: -10 auto; /* Center the heading container */
}

.catalog-h1.clicked {
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    color: black;
}

.contacts-h1,
.reviews-h1,
.AboutCompany-h1,
.catalog-h1 {
    cursor: pointer;
    z-index: 999;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Magistral Light';
}

/* Добавим стиль при наведении на пункты меню */
.catalog-menu li:hover {
    background-color: #f5f5f5; /* Изменяем фон при наведении */
    cursor: pointer; /* Изменяем курсор */
}

a{
    text-decoration: none;
    color: #ffffff;
}

/* Стили для формы */
.form-head {
    z-index: 99;
    width: 60%;
    display: flex;
    justify-content: center; /* Центрирует форму */
}

/* Стили для формы */
.form-head form {
    display: flex;
    align-items: center; /* Выравнивает элементы по центру по вертикали */
    background: linear-gradient(to right, #393747, #252426);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #b5589b;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}


/* Стили для текстового поля в форме */
.form-head form input[type="text"] {
    color: #fff;
    width: calc(100% - 40px);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: transparent;
}

/* Style the submit button */
.form-head button {
    border-radius: 5px;
    float: left;
    width: 20%;
    padding: 10px;
    background: #b5589b;
    color: white;
    font-size: 17px;
    border-width: 0px;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
  
.form-head button:hover {
    background: #da6aba;
}

/* Стили для логотипа */
.logo-images {
    margin-right: 10px;
    width: 20vh;
    height: 8vh;
    margin-bottom: 20px;
}

/*закругления градиента*/
.btn-images {
    border-radius: 10px;
    overflow: hidden;
    font-size: 20px;
}

/* Стили для кнопки в заголовке */
.head-button {
    font-family: 'Magistral Bold';
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: 5px solid transparent;
    border-image: linear-gradient(to top right, #b5589b, #ffffff) 1;
}

.head-button text {
    font-size: 3vh;
}

/* Стили для текста "Учебное оборудование" */
.ladel{
    margin-left: -30% !important;
    color: #ffffff;
    margin: 20px 0px 0px 100px;
    font-size: 4.5vh;
    line-height: 1;
}
.ladel h4{
    font-family: 'Magistral Light';
    color: #dbdbdb;
    font-size: 4vh;
    line-height: 1;
}
.header-mobile-menu .submenu {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.header-mobile-menu .submenu.show {
    display: block;
}

/* hamburger */
.checkbox {
    display: none;
}

.button {
    position: relative;
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 5vh;
    right: 5vw;
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center;
    cursor: pointer;
}

.item .catalog-h1 {
    font-size: 1.5rem;
}

.background {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    position: fixed;
    top: 6vh;
    right: 6.5vw;
    background-image: radial-gradient(#b55bb8, black);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
    font-family: 'Magistral Bold';
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
}

/* Общие стили для h2 в навигации */
.nav h2 {
    font-size: 24px; /* Убедитесь, что все h2 имеют одинаковый размер шрифта */
    font-weight: bold; /* Сделать текст жирным */
    color: #ffffff; /* Установить цвет текста */
    margin: 0;
    text-align: center;
    text-decoration: none;
}

/* Убедитесь, что цвета ссылок унаследованы и подчеркиваний нет */
.nav h2 a {
    color: inherit; /* Унаследовать цвет от родителя */
    text-decoration: none; /* Убрать подчеркивание */
}

/* Дополнительные стили для обеспечения согласованности макета */
.nav .link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .catalog-link {
    position: relative;
}

.item .catalog-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the header takes full width */
    height: 40px; /* Set a fixed height */
    margin: 0; /* Reset margin */
}
.item .catalog-h1 a {
    width: 100%;
    margin-left: -50%;
    text-align: center;
}
.submenu li{
    width: 100%;
    margin-left: -10px;
}
.nav .catalog-link .submenu {
    display: none; /* Скрыть подменю по умолчанию */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav .catalog-link:hover .submenu {
    display: block; /* Показать подменю при наведении */
}

.nav .submenu li {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav .submenu li a {
    color: #ffffff;
    text-decoration: none;
    width: 90%; /* Сделать ссылку на всю ширину элемента списка */
    display: block;
}

.nav .submenu li a:hover {
    text-decoration: underline;
}

.list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 1rem;
    font-size: 2.5vh;
}

.link:link,
.link:visited {
    font-family: 'Magistral Bold';
    display: inline-block;
    font-size: 2.5vh;
    text-decoration: none;
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover,
.link:active {
    color: rgb(214, 120, 202);
    cursor: pointer;
}

/* Стили только для ссылок каталога */
.catalog-link:link,
.catalog-link:visited {
    font-family: 'Magistral Bold';
    display: inline-block;
    font-size: 2.5vh;
    font-weight: 300;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg,
            transparent 0%,
            transparent 50%,
            white 50%);
    background-size: 220%;
    transition: all 0.4s;
}

.catalog-link:hover,
.catalog-link:active {
    color: rgb(214, 120, 202);
    cursor: pointer;
}

/* functionality */
.checkbox:checked~.background {
    transform: scale(80);
}

.checkbox:checked~.nav {
    opacity: 1;
    width: 100%;
    right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
    width: 2rem;
    height: 2px;
    background-color: rgb(182, 91, 167);
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.4rem;
}

.icon::after {
    top: 0.4rem;
}

.button:hover .icon:before {
    top: 0.4rem;
}

.button:hover .icon::after {
    top: -0.4rem;
}

.checkbox:checked+.button .icon {
    background-color: transparent;
}

.checkbox:checked+.button .icon::before {
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.imagesVR {
    top: 80%;
    overflow: hidden;
    width: 35%; /* Ширина в 40% от ширины видимой области экрана */
    height: auto; /* Автоматическая высота для поддержки пропорций */
    position: absolute;
    left: 75%;
    z-index: 1;
    transform: translate(-50%, -50%);
}

/**/
.inf-new h3 {
    color: #333;
    text-align: center;
    margin: 40px 0px 0px 0px;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 20px;
}

/* Стили для Swiper */
.swiper {
    position: absolute;
    width: 100%;
    height: 100vh; /* Полная высота экрана */
    z-index: 1; /* Устанавливаем задний план */
    margin-top: -10% !important; /* Позиционируем сверху страницы */
}
.swiper-slide video {
    pointer-events: none;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Стили для изображения в слайде Swiper */
.slide2 video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение покрывает весь слайд */
    border-radius: 20px; /* Если хотите закругленные углы */
}

.swiper-pagination2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.feedback {
    background-image: url('img/ShadedBackground.png');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /* Избегаем выхода элементов за границы */
    width: 100%;
    box-sizing: border-box;
    /* Учитываем padding и border в общей ширине элемента */
}

.feedback-left {
    max-width: 50%;
    flex: 1;
    padding-right: 20px;
    box-sizing: border-box;
    /* Учитываем padding в общей ширине элемента */
}

.feedback-inf,
.feedback-dop-inf {
    margin-top: -40px;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
    font-family: 'Magistral Light';
    margin-left: 5%;
    border-radius: 10px;
    padding: 7%;
    width: 90%;
    height: 60%;
}

.feedback-inf {
    padding-bottom: 0px;
}

.feedback-dop-inf {
    margin-top: -40px;
    line-height: 0.5;
}

.feedback h1 {
    margin-top: 10px;
    font-size: 24px !important;
    padding-bottom: 10px;
}

.feedback h3 {
    font-size: 24px;
    line-height: 1.5;
}

.forma-feedback {
    max-height: 400px;
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    /* Учитываем padding в общей ширине элемента */
    margin-right: 20px;
    /* Добавляем отступ слева между формой и левым блоком */
}

.forma-feedback h1 {
    color: #333;
    margin-bottom: 10px;
}

.forma-feedback h4 {
    font-family: 'Magistral Light';
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.feedback-inf h1,
.forma-feedback h2 {
    color: #333;
    font-size: 32px;
}

.feedback-inf h3,
.feedback-dop-inf h3 {
    color: #333;
    font-size: 18px;
}

.feedback-dop-inf h1 {
    color: #333;
    font-size: 18px;
}

.codepen-button {
    font-family: 'Magistral Bold';
    display: block;
    cursor: pointer;
    color: #000;
    /* Черный текст */
    position: relative;
    text-decoration: none;
    font-weight: 200;
    border-radius: 6px;
    overflow: hidden;
    padding: 3px;
    isolation: isolate;
    background-color: #fff !important;
    /* Белый фон кнопки */
}

.codepen-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(115deg, #ff80ee, #ffa6f3, #ffc8f8, #ffffff, #ffc8f8, #ffa6f3, #ff80ee);
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop .75s linear infinite;
    animation-play-state: paused;
    translate: 0%;
    transition: translate 1s ease-out;
}

.codepen-button:hover::before {
    animation-play-state: running;
    transition-duration: 5000;
    translate: 0%;
}

@keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
        transform: translateX(-25%);
    }
}

.codepen-button span {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    /* Уменьшаем отступы внутри кнопки */
    font-size: 1rem;
    /* Уменьшаем размер шрифта */
    background: #ffffff;
    border-radius: 3px;
    height: 100%;
}
/* Стили для формы обратной связи */
.feedback-form {
    background-color: #ffffff; /* Задний фон блока формы */
    padding: 20px;
    border-radius: 30px;
    max-width: 600px; /* Максимальная ширина блока */
    margin: 0 auto; /* Центрирование блока */
}

/* Стили для input */
.feedback-form input {
    width: 100%; /* Ширина input равна ширине его контейнера */
    border-radius: 5px; /* Закругление углов */
    background-color: #ffffff; /* Белый фон input */
    box-sizing: border-box; /* Учитываем padding и border в общей ширине элемента */
}

.form-group {
    background-color: #fff;
    margin-bottom: 20px;
}

input[type="fio"],
input[type="tel"],
input[type="name"] {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #333;
}

input[placeholder="ФИО*"],
input[placeholder="Телефон*"],
input[placeholder="Наименование разработки"] {
    color: #333;
}

.SkillTraining {
    background-image: url('../../img/ShadedBackground.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    margin: auto;
    padding-top: 10%;
    border-radius: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px; /* Пример фиксированной высоты */
}


.SkillTraining h1 {
    font-size: 50px;
    color: #333;
}

.STgrid-container {
    width: 80%;
    height: 50%;
    border-radius: 20px;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
    font-family: 'Magistral Light';
    justify-content: center;
    align-items: center;
    line-height: 1.5; /* Увеличиваем междустрочный интервал */
}

/* Стили для планшетов (max-width: 768px) */
@media (max-width: 768px) {
    .SkillTraining {
        padding: 15px;
    }

    .SkillTraining h1 {
        font-size: 25px;
    }

    .skill-row {
        gap: 50px;
    }

    .skill-item h3 {
        font-size: 14px;
    }
}

/* Стили для телефонов (max-width: 480px) */
@media (max-width: 480px) {
    .SkillTraining {
        padding: 10px;
    }

    .SkillTraining h1 {
        font-size: 20px;
    }

    .skill-row {
        flex-direction: column; /* Строки становятся колонками */
        gap: 20px;
    }

    .skill-item img {
        width: 80px;
    }

    .skill-item h3 {
        font-size: 12px;
    }
}

.descriptions{
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden; /* Избегаем выхода элементов за границы */
    width: 100%;
}

.descriptions-left {
    max-width: 70%;
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
}

.descriptions-inf {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    white-space: pre-line;
    word-wrap: break-word;
    font-family: 'Magistral Light';
    margin-left: 5%;
    border-radius: 10px;
}

.descriptions h1 {
    z-index: 1;
    font-size: 44px;
    margin-bottom: 10px;
}

.descriptions h3 {
    width: 100%;
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.forma-descriptions {
    margin-top: 20px !important;
    background-color: #f1f1f1; /* Задний фон блока формы */
    padding: 20px;
    border-radius: 30px;
    max-width: 600px; /* Максимальная ширина блока */
    margin: 0 auto; /* Центрирование блока */
}

.forma-descriptions h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
}

.forma-descriptions h4 {
    font-family: 'Magistral Light';
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.descriptions h1,
.forma-descriptions h2 {
    color: #333;
}

.descriptions h3,
.feedback-dop-inf h3 {
    color: #333;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Две колонки */
    gap: 5px; /* Расстояние между колонками */
    justify-items: center; /* Центрирование элементов по горизонтали */
}

.training, .exam, .language {
    text-align: center;
}

.training h4, .exam h4, .language h4 {
    margin-top: 0px; /* Отступ сверху для заголовка */
    margin-bottom: 0px;
}
.exam img{
    max-width: 70px !important;
}
.training img{
    margin-top: -13%;
    max-width: 100px !important;
}
.training h4{
    margin-top: -16%;
}

.ball1 {
    margin-top: 1%;
    margin-left: 2%;
    z-index: 1;
    position: absolute;
    max-width: 300px;
}

.ball2 {
    margin-top: -10% !important;
    margin-left: -4%;
    position: absolute;
    max-width: 300px;  
}

.ball3 {
    position: absolute;
    max-width: 300px; 
}

.ball4 {
    margin-top: -4%;
    margin-left: -3%;
    z-index: 1;
    position: absolute;
    max-width: 400px;
}
.ball5 {
    margin-top: 0% !important;
    margin-left: 10%;
    position: absolute;
    max-width: 500px;  
}

.ball1 img {
    width: 30%;
    height: auto; 
}

.ball2 img {
    width: 25%; 
    height: auto; 
}

.ball3 img {
    margin-top: -5%;
    margin-left: 30%;
    width: 15%; 
    height: auto; 
}
.ball4 img {
    width: 30%;
    height: auto; 
}
.ball5 img {
    width: 20%; 
    height: auto; 
}
/* Основные стили для footer */
.footer {
    margin-top: 7vh;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, #393747, #252426);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.logo-images1 {
    padding: 20px;
    max-width: 130px;
}

.logo-footer h5 {
    font-size: 12px;
    color: #fff;
    margin: -20px 0 20px 0;
}

.footer h3,
.footer h4 {
    margin: 10px 0;
    text-align: center;
}

.img-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.img-footer img {
    max-width: 30px;
    height: auto;
}

/* Стили для newsletter */
.newsletter {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.newsletter h2 {
    margin-bottom: 10px;
}

.newsletter h4 {
    font-family: 'Magistral Light';
    font-size: 2vh;
    margin-bottom: 20px;
}
/* Устанавливаем шрифт для всего блока */
.blog-feedbeek * {
    font-family: 'Magistral Bold', sans-serif !important;
}
.blog-feedbeek {
    padding-bottom: 0px;
    overflow: hidden;
    border-radius: 20px;
    width: 45%;
    height: 55%;
    margin-top: 3%;
    margin-right: 5%;
}
@media (max-width: 768px) {
    .blog-feedbeek {
        width: 70%;
        margin-right: 0%;
    }
}
/* Устанавливаем шрифт для всего блока */
.newsletter * {
    font-family: 'Magistral Bold', sans-serif !important;
}
@media screen and (max-width: 19050px) {
    .logo-images2 {
        display: none;
    }

    .button {
        visibility: none;
    }

    .background {
        background-image: none;
    }

    .button {
        display: none;
    }
}
/* Медиа-запросы для адаптации на экранах меньшего размера */
@media (max-width: 1200px) {
    /* Стили для текста "Учебное оборудование" */
    .ladel{
        margin-left: -30% !important;
        color: #ffffff;
        margin: 20px 0px 0px 100px;
        font-size: 4vh;
        line-height: 1;
    }
    .ladel h4{
        font-family: 'Magistral Light';
        color: #dbdbdb;
        font-size: 4vh;
        line-height: 1;
    }
    /* обратная связь */
    .feedback {
        width: 100%;
    }

    .feedback-left {
        width: 90%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .forma-feedback {
        width: 60%;
        margin: 0 auto;
    }
    /* Стили для текста "Учебное оборудование" */
    .equipment {
        font-size: 8vh;
    }

    .descriptions-left {
        width: 100%;
        padding-right: 20px;
        margin-bottom: 20px;
    }

    .descriptions-left h1{
        font-family:"Magistral Bold";
        font-size: 32px !important;
    }
    .descriptions-left h3{
        font-size: 24px !important;
    }

    .descriptions {
        width: 100%;
        margin: 0 auto;
    }
    /* о нас */
    .aboutUs {
        grid-template-columns: 1fr; /* Одна колонка для всего контента */
    }
    
    .about-us-header {
        grid-template-columns: 1fr; /* Одна колонка для заголовка и изображения */
        text-align: center;
    }
    
    .aboutUs h2 {
        margin: 0 auto;
        font-size: 100px;
    }

    .imgVr{
        margin-top: 120px;
        display: flex; /* Используем flex-контейнер */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center; /* Центрируем по вертикали */
        position: absolute;
        opacity: 0.15;
        width: 100%; /* Ширина блока */
        height: auto; /* Высота блока */
    }

    .imgVr img {
        margin-left: 10%;
        width: 80%;
    }

    .about-us-inf {
        padding-right: 20px;
        padding-left: 20px;
    }

    .about-us-inf h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
/* Стили для текста "Учебное оборудование" */
.ladel{
    margin-left: -30% !important;
    color: #ffffff;
    margin: 20px 0px 0px 100px;
    font-size: 3vh;
    line-height: 1;
}
.ladel h4{
    font-family: 'Magistral Light';
    color: #dbdbdb;
    font-size: 3.5vh;
    line-height: 1;
}
.swiper{
    margin-top: -100px !important;
}
}
@media (max-width: 768px) {
    .ladel{
        z-index: 9;
        font-size: 2.8vh;
        z-index: 999;
        position: absolute;
        margin-left: 5% !important;
        margin-bottom: 15%;
    }
    /* обратная связь */
    .feedback {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10%;
        padding-top: 5%;
    }

    .forma-feedback {
        width: 90%;
        height: auto;
        padding: 20px;
    }
    .dop-inf {
        grid-template-columns: 1fr; /* Изменяем раскладку на один столбец */
    }

    .dop-inf div {
        width: 100%;
    }

    .dop-inf div:not(:last-child)::after {
        content: "";
        position: absolute;
        top: -10px; /* Положение линии между строками */
        left: 0;
        right: 0;
        height: 3px; /* Ширина линии */
        background-color: #cecece; /* Цвет линии */
    }
    .img-new {
        margin-top: 60%;
        margin-left: -5%;
    }
    .info-text h4{
        margin-top: -10%;
    }
    .info-text, .ImgSlide {
        max-width: 50vh;
        flex: 1;
        padding: 20px;
        box-sizing: border-box;
    }
    .ImgSlide{
        margin-top: 25%;
        margin-left: 5%;
        width: 100%;
        height: auto;
    }

    .lala {
        overflow: hidden;
        white-space: pre-line;
        word-wrap: break-word;
        justify-content: center; /* Горизонтальное центрирование */
        height: 200px; /* Высота контейнера равна высоте окна */
        width: 80%; /* Ширина контейнера равна ширине окна */
    }
    /* картинка с коровой */
    .imagesVR {
        justify-content: center;
        /* Горизонтальное центрирование */
        align-items: center;
        /* Вертикальное центрирование */
        height: auto;
        width: 70%;
        /* Ширина контейнера равна ширине окна */
        top: 30%;
        margin-left: 35%;
        opacity: 0.1;
        z-index: 1;
        /* Обеспечить, чтобы изображение находилось поверх других элементов */
    }
    /* обратная связь */
    .descriptions {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10%;
        padding-top: 5%;
    }

    .descriptions {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .codepen-button {
        margin-left: 30% !important;
        width: 40%;
    }
    .codepen-button span {
        font-size: 1.5rem;
        /* Уменьшаем размер шрифта в кнопке */
        padding: 0.3rem 0.6rem;
        /* Уменьшаем отступы внутри кнопки */
    }
    /* о нас */
    .aboutUs {
        padding-top: 50px;
        margin-top: 30px;
    }
    
    .aboutUs h2 {
        font-size: 60px;
        margin: 0 20px;
    }

    .imgVr {
        display: flex; /* Используем flex-контейнер */
        justify-content: center; /* Центрируем по горизонтали */
        align-items: center; /* Центрируем по вертикали */
        position: absolute;
        opacity: 0.15;
        width: 100%; /* Ширина блока */
        height: 100%; /* Высота блока */
    }
    
    .imgVr img {
        width: 100%;
        margin-top: 50%;
    }

    .about-us-inf h4 {
        font-size: 18px;
    }

    .dop-inf {
        grid-template-columns: 1fr; /* Изменяем раскладку на один столбец */
    }

    .dop-inf div {
        width: 100%;
    }

    .dop-inf div:not(:last-child)::after {
        content: "";
        position: absolute;
        top: -10px; /* Положение линии между строками */
        left: 0;
        right: 0;
        height: 3px; /* Ширина линии */
        background-color: #cecece; /* Цвет линии */
    }
    /* футтер */
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-footer,
    .footer h3,
    .footer h4,
    .img-footer,
    .newsletter {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter {
        margin-top: 20px;
    }

    .footer-input-email {
        width: 90%;
    }

    .footer-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {
    .swiper{
        margin-top: -50% !important;
    }
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    
    .slide2 {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    /* Стили для изображения в слайде Swiper */
    .slide2 video {
        width: 100%;
        height: 70%;
        object-fit: cover; /* Изображение покрывает весь слайд */
        border-radius: 20px; /* Если хотите закругленные углы */
    }
    
    .container {
        display: none;
    }

    .slide {
        margin-left: 0.5vh;
        width: 50vh !important;
    }

    .slider-inf-img img {
        margin-left: 0px;
        width: 15vh !important;
    }

    .swiper-slide {
        width: 100% !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .info {
        width: 100% !important;
    }

    .info-text {
        width: 100% !important;
    }

    .pink-inf {
        margin-top: 2%;
        margin-left: 33%;
        position: absolute;
        color: #b55bb8;
    }

    .pink-inf1 {
        margin-top: 2%;
        margin-left: 55%;
        position: absolute;
        color: #b55bb8;
    }

    .logo-images2 {
        margin-top: -50vh;
        display: flex;
        width: 100px;
        height: auto;
    }

    /* Стили для подменю */
    .submenu {
        list-style-type: none;
        /* Убираем маркеры списка */
        padding: 0 !important;
        /* Убираем отступы */
        margin: 0 auto;
        /* Центрируем весь блок */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Центрируем элементы по горизонтали */
        text-align: center;
        /* Центрируем текст внутри элементов */
    }

    .submenu li {
        padding-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* Занимаем всю ширину родителя */
        margin-bottom: 10px;
    }

    .submenu li a {
        display: block;
        /* Делаем ссылку блочным элементом */
        width: 100%;
        /* Заставляем ссылку занимать всю ширину родителя */
        text-align: center;
        /* Центрируем текст внутри ссылки */
    }

    .submenu li h3 {
        margin: 0;
        /* Убираем отступы у заголовка */
        text-align: center;
        /* Центрируем текст внутри заголовка */
    }

    .item h3 {
        font-size: 2vh;
    }

    .background {
        background-image: radial-gradient(rgb(36, 30, 49), black);
    }

    .button {
        background: visible;
        display: flex;
    }

    .form-head {
        width: 50%;
        position: absolute;
        margin-top: 25%;
    }

    .menu-icon {
        margin-top: -50%;
        display: flex;
    }

    header {
        display: none;
    }

    header h2 {
        font-size: 2vh;
        /* Уменьшаем размер шрифта */
        margin-right: 10px;
        /* Уменьшаем отступы справа */
        margin-bottom: 5px;
        /* Уменьшаем отступы снизу */
    }

    .logo-images {
        width: 15vh;
        /* Уменьшаем ширину логотипа */
        height: 6vh;
        /* Уменьшаем высоту логотипа */
    }

    .codepen-button {
        margin-left: 25%;
        width: 50%;
    }

    .codepen-button span {
        font-size: 1.5rem;
        /* Уменьшаем размер шрифта в кнопке */
        padding: 0.3rem 0.6rem;
        /* Уменьшаем отступы внутри кнопки */
    }

    .img-new {
        margin-top: 70% !important;
        margin-left: 0% !important;
    }

    .info {
        flex-direction: column;
    }

    .feedback-left {
        margin-left: -10%;
        max-width: 90%;
        width: 100% !important;
        height: 60%;
    }

    .info-text,
    .ImgSlide {
        width: 50vh;
        padding: 10px;
    }

    .info-text h1 {
        font-size: 2.5vh;
    }

    .info-text h4 {
        font-size: 2vh;
    }

    .img-new {
        margin-top: -3vh !important;
        margin-left: -3vh !important;
    }

    .img-new img {
        width: 100%;
        height: 100%;
    }

    .info-text {
        max-width: 100%;
    }

    .ImgSlide {
        margin-top: -10%;
        margin-left: 5%;
        height: auto;
    }

    .lala {
        overflow: hidden;
        white-space: pre-line;
        word-wrap: break-word;
        justify-content: center;
        /* Горизонтальное центрирование */
        height: auto;
        /* Высота контейнера равна высоте окна */
        width: 80%;
        /* Ширина контейнера равна ширине окна */
    }

    /* картинка с коровой */
    .imagesVR {
        justify-content: center;
        /* Горизонтальное центрирование */
        align-items: center;
        /* Вертикальное центрирование */
        height: auto;
        width: 70%;
        /* Ширина контейнера равна ширине окна */
        top: 45%;
        left: 10%;
        opacity: 0.1;
        z-index: 1;
        /* Обеспечить, чтобы изображение находилось поверх других элементов */
    }

    /* Стили для текста "Учебное оборудование" */
    .equipment {
        margin-top: -10%;
        display: flex;
        justify-content: center;
        /* Горизонтальное центрирование */
        align-items: center;
        /* Вертикальное центрирование */
        height: auto;
        /* Высота контейнера равна высоте окна */
        width: 100%;
        /* Ширина контейнера равна ширине окна */
        margin-left: 0%;
        font-size: 5vh;
    }

    /* обратная связь */
    .feedback {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10%;
        padding-top: 5%;
    }

    .forma-feedback {
        width: 90%;
        height: auto;
        padding: 20px;
    }

    .codepen-button {
        width: 40%;
    }

    /* о нас */
    .aboutUs {
        padding-top: 50px;
        margin-top: 30px;
    }

    .aboutUs h2 {
        font-size: 60px;
        margin: 0 20px;
    }

    .imgVr {
        display: flex;
        /* Используем flex-контейнер */
        justify-content: center;
        /* Центрируем по горизонтали */
        align-items: center;
        /* Центрируем по вертикали */
        position: absolute;
        opacity: 0.15;
        width: 100%;
        /* Ширина блока */
        height: 100%;
        /* Высота блока */
    }

    .imgVr img {
        width: 100%;
        margin-top: 50%;
    }

    .about-us-inf h4 {
        font-size: 18px;
    }

    .dop-inf {
        grid-template-columns: 1fr;
        /* Изменяем раскладку на один столбец */
    }

    .dop-inf div {
        width: 100%;
    }

    .dop-inf div:not(:last-child)::after {
        content: "";
        position: absolute;
        top: -10px;
        /* Положение линии между строками */
        left: 0;
        right: 0;
        height: 3px;
        /* Ширина линии */
        background-color: #cecece;
        /* Цвет линии */
    }

    /* футтер */
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-footer,
    .footer h3,
    .footer h4,
    .img-footer,
    .newsletter {
        width: 100%;
        margin-bottom: 20px;
    }

    .newsletter {
        margin-top: 20px;
    }

    .footer-input-email {
        width: 90%;
    }

    .footer-btn {
        font-size: 14px;
        padding: 8px 16px;
    }
    .descriptions{
        margin-top: -40px !important;
    }
    .descriptions-left h1 {
        font-size: 32px !important;
    }

    .descriptions-left h3 {
        font-size: 18px !important;
    }
    .SkillTraining{
        padding-top: 10% !important;
        padding-bottom: 10% !important;
        height: auto;
    }
    .SkillTraining h1 {
        font-size: 30px !important;
    }

    .STgrid-container h2 {
        font-size: 18px !important;
    }
    .descriptions {
        width: 90%;
        height: auto;
        padding: 15px;
    }
    /* обратная связь */
    .feedback {
        margin-left: 0px !important;
        margin-top: -15%;
        padding-top: 5%;
    }

    .feedback h1 {
        font-family: "Magistral Bold";
        font-size: 32px !important;
    }

    .feedback h3 {
        font-size: 18px !important;
    }
    .b24-form-header-title{
        font-size: 32px !important;
        line-height: 1 !important;
    }
    .b24-form-header-desriptio{
        font-size: 18px !important;
        line-height: 1.5 !important;
    }
    .forma-feedback {
        width: 70%;
        height: auto;
        padding: 15px;
    }
    .feedback-left{
        margin-left: -15%;
    }
    .ball3{
        margin-top: 30% !important;
        margin-left: 250px;
    }
}

@media (max-width: 480px) {
    .ball3{
        margin-top: 30% !important;
        margin-left: -200px !important;
    }
    .blog-feedbeek {
        width: 100%;
        height: auto;
        margin-top: 3%;
    }
    .ladel{
        font-size: 1.8vh;
        z-index: 999;
        position: absolute;
        margin-left: 5% !important;
        margin-bottom: 15%;
    }
    /* Стили для изображения в слайде Swiper */
    .slide2 video {
        margin-top: -20%;
        width: 100%;
        height: 70%;
        object-fit: cover; /* Изображение покрывает весь слайд */
        border-radius: 20px; /* Если хотите закругленные углы */
    }
    .swiper{
        margin-top: -50% !important;
    }
    /* обратная связь */
    .feedback {
        margin-top: 5%;
        padding-top: 5%;
    }

    .feedback h1 {
        font-family: "Magistral Bold";
        font-size: 32px !important;
    }

    .feedback h3 {
        font-size: 18px !important;
    }
    .b24-form-header-title{
        font-size: 32px !important;
        line-height: 1 !important;
    }
    .b24-form-header-desriptio{
        font-size: 18px !important;
        line-height: 1.5 !important;
    }
    .forma-feedback {
        width: 70%;
        height: auto;
        padding: 15px;
    }
    /* картинка с коровой */
    .imagesVR {
        opacity: 0.2;
        top: 50% !important;
    }
    /* Стили для текста "Учебное оборудование" */
    .equipment {
        font-size: 6vh;
    }
    .descriptions{
        margin-top: -40px !important;
    }
    .descriptions-left h1 {
        font-size: 32px !important;
    }

    .descriptions-left h3 {
        font-size: 18px !important;
    }
    .SkillTraining{
        padding-top: 10% !important;
        padding-bottom: 10% !important;
        height: auto;
    }
    .SkillTraining h1 {
        font-size: 30px !important;
    }

    .STgrid-container h2 {
        font-size: 18px !important;
    }
    .descriptions {
        width: 90%;
        height: auto;
        padding: 15px;
    }

    .codepen-button {
        width: 40%;
    }
    /* о нас */
    .aboutUs {
        padding-top: 30px;
        margin-top: 20px;
    }
    
    .aboutUs h2 {
        font-size: 40px;
        margin: 0 10px;
    }

    .imgVr{
        opacity: 0.5;
    }

    .imgVr img {
        width: 100%;
        margin-top: 20%;
    }

    .about-us-inf {
        padding-right: 10px;
        padding-left: 10px;
    }

    .about-us-inf h4 {
        font-size: 16px;
    }
    /* футтер */
    .footer h3 {
        font-size: 3.5vh;
    }

    .footer h4 {
        font-size: 2.5vh;
    }

    .newsletter h2 {
        font-size: 3.5vh;
    }

    .newsletter h4 {
        font-size: 2vh;
    }

    .footer-btn {
        font-size: 12px;
        padding: 6px 14px;
    }
}